body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}

.figma-logo {
	width: 200px;
  display: flex;
  flex-wrap:wrap;
}

.element {
	width: 100px;
	height: 100px;
	background: red;
}

.left {
	border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.right {
	border-top-right-radius:50px;
  border-bottom-right-radius:50px;
}

.circle {
	border-radius:50px;
}

.clip {
	border-bottom-right-radius:50px;
}

.orange {
	background: #FB7266;
}

.purple {
	background: #A061FA;
}

.blue {
	background: #2EBDFA;
}

.green {
	background: #00CE84;
}